{{#extend "title"}}
    {{#if ../edit}}Edit Project #{{../project.project_id}}{{else}}New Project{{/if}}
{{/extend}}

<section class="section header">
    <div class="container">
        <h1 class="title">{{#if edit}}Edit Project #{{project.project_id}}{{else}}New Project{{/if}}</h1>

        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="/admin/projects">Projects</a></li>
                <li class="is-active"><a href="#" aria-current="page">{{#if edit}}{{project.title}}{{else}}New Project{{/if}}</a></li>
            </ul>
        </nav>

        {{#unless @root/edit}}
            <article class="message">
                <div class="message-body">
                    Modules can be added once a project is created.
                </div>
            </article>
        {{/unless}}
    </div>
</section>

<section class="section details">
    <div class="container">
        <h1 class="subtitle">Project Details</h1>

        <div class="columns">
            <form method="post" class="column">
                <div class="columns mb-0">
                    <div class="column">
                        <div class="field">
                            <label class="label">Project Title</label>
                            <p class="control">
                                <input name="title" class="input" type="text" placeholder="Shipwreck" value="{{project.title}}" required />
                            </p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="label">Project Type</label>
                            <p class="control">
                                <input name="type" class="input" type="text" placeholder="Data Science" value="{{project.type}}" required />
                            </p>
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="label">Description</label>
                            <p class="control">
                                <textarea
                                    name="description"
                                    class="textarea"
                                    type="text"
                                    placeholder="A brief description / summary of what the project entails."
                                    required
                                >{{project.description}}</textarea>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="label">Thumbnail URL</label>
                            <p class="control">
                                <input name="thumbnail_url" class="input" type="text" value="{{#if project.thumbnail_url}}{{project.thumbnail_url}}{{else}}https://cdn.techroulette.xyz/projects/{{/if}}" required />
                            </p>
                            <p class="help">
                                Upload to <a href="https://github.com/executebig/tr-cdn" target="_blank">https://github.com/executebig/tr-cdn</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="checkbox mt-3">
                                <input type="checkbox" name="enabled" {{#unless edit}}checked{{else}}{{#if project.enabled}}checked{{/if}}{{/unless}}>
                                Enable project?
                            </label>

                            <p class="help">Disabled projects will not show up for any user.</p>
                        </div>

                        <div class="field">
                            <label class="checkbox mt-3">
                                <input type="checkbox" name="hardware" {{#unless edit}}{{else}}{{#if project.hardware}}checked{{/if}}{{/unless}}>
                                Hardware project?
                            </label>

                            <p class="help">Hardware projects will not show up for users who are ineligible for shipping.</p>
                        </div>
                    </div>
                </div>

                <button type="submit" class="button is-primary">{{#if edit}}Update Project{{else}}Create Project{{/if}}</button>
            </form>

            {{#with project}}
                {{>project}}
            {{/with}}
        </div>
    </div>
</section>

{{#if edit}}
<section class="section modules">
    <div class="container">
        <h1 class="subtitle">Modules</h1>

        <table class="table is-fullwidth is-hoverable is-striped">
            <thead>
                <tr>
                    <th><abbr title="module_id">ID</abbr></th>
                    <th><abbr title="title">Title</abbr></th>
                    <th><abbr title="description">DESC</abbr></th>
                    {{!-- <th><abbr title="content">Content</abbr></th> --}}
                    <th><abbr title="points">Points</abbr></th>
                    <th><abbr title="required">R?</abbr></th>
                    <th><abbr title="enabled">E?</abbr></th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {{#each modules}}
                    <tr>
                        <th>{{module_id}}</th>
                        <td>{{title}}</td>
                        <td>{{description}}</td>
                        {{!-- <td>{{content}}</td> --}}
                        <td>{{points}}</td>
                        <td>{{{showBool required}}}</td>
                        <td>{{{showBool enabled}}}</td>
                        <td><a href="/admin/modules/edit/{{module_id}}">Edit</a></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>

        <a href="/admin/modules/new?project_id={{project.project_id}}" class="button is-light is-primary">New Module</a>
    </div>
</section>
{{/if}}
