<div class="page__dash">
  <section class='hero container'>
    <div class='hero-body'>
      <h1 class='title is-primary'>Welcome back! Pick your adventure...</h1>
      <p>
        Task details will be presented to you once you select your task. Once selected, you will not
        be able to change it, and you will have a week to complete it.
      </p>
    </div>
  </section>

  <section class='section container'>
    <div class='columns projects'>
      {{#each data.projects}}
        <div class='column project'>
          <h2>{{title}}</h2>
          <p>{{description}}</p>

          <span>
            <p>{{numModulesRequired}} ⌛ · Independent · {{type}}</p>
            <p>+{{numModulesAvailable}} 💎 Available</p>
          </span>

          <img
            src='https://upload.wikimedia.org/wikipedia/en/9/9a/Trollface_non-free.png'
            alt=''
            srcset=''
            class='project-bg'
          />
          <div class='project-overlay-1'></div>
        </div>
      {{/each}}
    </div>
  </section>
</div>