{{#*inline "module"}}
  <div class='module'>
    <div class="module__container">
      <h2>{{title}}</h2>
      <p>{{description}}</p>

      <span class="module__container__bottom">
        <button class="button">
          <span>
            Get Started
          </span>
          <span class="icon">
            <ion-icon name='arrow-forward-outline'></ion-icon>
          </span>
        </button>

        <p>+{{points}} 💎</p>
      </span>
    </div>
  </div>
{{/inline}}

<div class='page__modules'>
  {{#with data.project}}
    <section class='hero container'>
      <div class='hero-body'>
        <h1 class='title is-1 has-text-primary has-text-weight-bold'>Week 5 — {{title}}</h1>

        <div>
          <span class="tag is-primary is-medium has-text-weight-medium">{{numModulesRequired}} ⌛ Total</span>
          <span class="tag is-primary is-medium has-text-weight-medium">{{numModulesAvailable}} 💎 Available</span>
        </div>
      </div>
    </section>
  {{/with}}

  <section class='section container'>
    <h2 class="title">Required Modules</h2>
    <div class='modules modules--required'>
      {{#each data.modulesRequired}}
        {{>module}}
      {{/each}}
    </div>
  </section>

  <section class="section container">
    <h2 class="title">Optional Modules: Complete to Earn Additional Gems!</h2>
    <div class='modules modules--optional'>
      {{#each data.modulesOptional}}
        {{>module}}
      {{/each}}
    </div>
  </section>
</div>