{{#*inline "module"}}
  <div class='module'>
    <div class="module__container">
      <h2>{{title}}</h2>
      <p>{{description}}</p>

      <span class="module__container__bottom">
        <button class="button">
          <span>Get Started</span>
          <span class="icon">
            <ion-icon name='arrow-forward-outline'></ion-icon>
          </span>
        </button>

        <p>+{{points}} 💎</p>
      </span>
    </div>
  </div>
{{/inline}}

<div class='page__modules'>
  <section class='section header'>
    <div class='container'>
      <h1 class='title is-1 has-text-primary has-text-weight-bold'>Week {{week}} — {{data.project.title}}</h1>

      <div>
        <span class="tag is-primary is-medium"><b>{{data.project.pts_total}} 💎 Available</b></span>
      </div>
    </div>
  </section>

  <section class='section py-2'>
    <div class="container">
      <h2 class="title">Required Modules</h2>
      <div class='modules modules--required pb-2'>
        {{#each data.modules_required}}
          {{>module}}
        {{/each}}
      </div>
    </div>
  </section>

  <section class='section'>
    <div class="container">
      <h2 class="title">Optional Modules: Complete to Earn Additional Gems!</h2>
      <div class='modules modules--optional pb-2'>
        {{#each data.modules_optional}}
          {{>module}}
        {{/each}}
      </div>
    </div>
  </section>
</div>