{{#extend 'title'}}
  Submissions
{{/extend}}

<div class='page__submissions'>
  <section class='hero is-danger'>
    <div class="hero-body">
      <div class='container'>
        <div class="columns">
          <div class="column">
            <h1 class='title is-1'>{{project.title}}</h1>
            <p class="subtitle mb-3">Previous Submissions</p>

            <div class='block'>
              <span class="tag is-medium">
                <strong>{{project.type}}</strong>
              </span>

              <span class="tag is-medium">
                <strong>{{>chip}} {{project.pts_total}} Available</strong>
              </span>

              {{#if project.hardware}}
                <span class="tag is-medium"><strong>🛠️ Hardware</strong></span>
              {{/if}}
            </div>

            <div class="block">
              <strong>
                {{project.description}}
              </strong>
            </div>
          </div>

          <div class="column is-4">
            <img src="{{project.thumbnail_url}}" alt="" class="card hero-img" >
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class='section'>
    <div class="container">
      <h2 class="title">Optional Modules: Complete to Earn Additional Gems!</h2>
      <div class='modules modules--optional has-horizontal-scroll'>
        {{#each modules_optional}}
          {{>module}}
        {{/each}}
      </div>
    </div>
  </section>
</div>
