{{#extend 'title'}}
  Submissions
{{/extend}}
{{#extend 'header-inject'}}
  <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
{{/extend}}
<div class='page__submissions'>
  <section class='hero'>
    <div class="hero-body">
      <div class='container'>
        <div class="columns">
          <div class="column is-flex is-align-items-center">
            <div>
              <h1 class='title is-1 has-text-primary'>{{project.title}}</h1>
              <p class="subtitle">Previous Submissions</p>
              <div class="block mb-3">
                <strong>
                  {{project.description}}
                </strong>
              </div>
              <div class="block">
                <strong>
                  Got a question about this project? Please include the project ID: <span class="tag is-primary">P{{project.project_id}}</span>
                </strong>
              </div>
            </div>
          </div>
          <div class="column is-4">
            <img src="{{project.thumbnail_url}}" alt="" class="card hero-img">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class='section'>
    <div class="container content">
      {{#if submissions}}
        <h1 class="title">Previous Submissions</h1>
        <table class="table">
          <thead>
            <tr>
              <th>Submission ID</th>
              <th>Module ID</th>
              <th>Module Title</th>
              <th>Created At</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {{#each submissions}}
              <tr data-id="{{submission_id}}" data-created-at="{{prettyTime created_at}}">
                <th>{{submission_id}}</th>
                <th><code>P{{@root/project.project_id}}M{{module_id}}</code></th>
                <td><strong>{{title}}</strong></td>
                <td>{{prettyTime created_at}}</td>
                <td>
                  <span class="tag state {{state}}">
                    {{state}}
                  </span>
                </td>
                <td><a class="view__submission">View</a></td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{else}}
        <h1 class="title">No submissions found!</h1>
        <p>We couldn't find any submissions for this week. If you're currently working on this project, you can still view and submit modules <strong><a href="/modules">here</a>.</strong>
      {{/if}}
      <p>Having trouble with submissions? Shoot us an email at <strong><a href="mailto:hi@techroulette.xyz">hi@techroulette.xyz</a></strong>.</p>
    </div>
  </section>
  <form class='modal' action='' method='POST'>
    <div class='modal-background'></div>
    <div class='modal-card'>
      <header class='modal-card-head'>
        <h1 class='modal-card-title'>Submission Details</h1>
      </header>
      <section class='modal-card-body'>
        <div class="spinner"></div>
        <div class="submission-data">
          <p>
            Your submission for
            <strong id="submission-title" class="has-text-primary"></strong>
            was submitted on
            <strong id="submission-created-at"></strong>, and is currently
            <strong id="submission-state"></strong>.
          </p>
          <div class="notification is-light mt-2 mb-3 submission-comment-container">
            <p class="mb-2"><strong>Reader's Comments:</strong></p>
            <p id="submission-comment" class="mb-0"></p>
          </div>
          <div class="control" id='submission-content'>
            <textarea name='content' class='textarea' type='text' required></textarea>
          </div>
        </div>
      </section>
      <footer class='modal-card-foot'>
        <button class='button is-danger modal-cancel' type='button'>
          <span>Close</span>
        </button>
      </footer>
    </div>
    <button class='modal-close modal-cancel is-large' aria-label='close'></button>
  </form>
</div>
{{#extend 'scripts'}}
  <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
  <script nonce='{{@root/nonce}}'>
    const table = document.querySelector('table')
    const modal = document.querySelector('.modal')
    const submissionData = document.querySelector('.submission-data')
    const spinner = document.querySelector('.spinner')
    const commentsModal = modal.querySelector('.submission-comment-container')

    const editor = new EasyMDE({
      element: modal.querySelector("#submission-content > textarea"),
      toolbar: ['preview'],
      status: null,
      forceSync: true,
      spellChecker: true,
    })

    editor.codemirror.options.readOnly = true

    // Bind modal open buttons
    table.querySelectorAll("a.view__submission").forEach((node) => {
      submissionData.style.display = 'none'
      spinner.style.display = 'block'

      const data = node.parentNode.parentNode.dataset
      editor.togglePreview()

      node.addEventListener("click", () => {
        fetch(`${window.location.href}/${data.id}`)
          .then(res => res.json())
          .then(submission => {
            if (!submission.error) {
              submission = submission.submission

              modal.querySelector('#submission-title').textContent = submission.title
              modal.querySelector('#submission-state').textContent = submission.state
              modal.querySelector('#submission-created-at').textContent = data.createdAt

              const comments = modal.querySelector('#submission-comment')
              if (submission.state === 'rejected') {
                commentsModal.classList.add('is-danger')
                commentsModal.style.display = 'block'
                comments.textContent = submission.comments
              } else if (submission.state === 'accepted' && submission.comments) {
                commentsModal.classList.add('is-success')
                commentsModal.style.display = 'block'
                comments.textContent = submission.comments
              } else {
                commentsModal.style.display = 'none'
              }

              editor.value(submission.content)
              spinner.style.display = 'none'
              submissionData.style.display = "block"
            } else {
              notyf.error("Error: Invalid submission request!")
            }
          })

        modal.classList.add("is-active")
      })
    })

    // Close modal on background & cancel button click
    document
      .querySelectorAll(".modal-cancel, .modal-background")
      .forEach((node) => {
        node.addEventListener("click", () => {
          modal.classList.remove("is-active")
          submissionData.style.display = "none"
          spinner.style.display = 'block'
          commentsModal.classList.remove('is-success')
          commentsModal.classList.remove('is-danger')
        })
      })
  </script>
{{/extend}}
