{{#extend "title"}}
    Orders
{{/extend}}
<div class="page__chill">
    <section class="section header pb-1">
        <div class="container">
            <h1 class="title">{{type}}</h1>
        </div>
    </section>
    {{#with orders}}
        <section class="section">
            <div class="container">
                {{#if orders}}
                    <table class='table is-fullwidth is-hoverable is-striped'>
                        <thead>
                            <tr>
                                <th>Order #</th>
                                <th>U</th>
                                <th>Quantity</th>
                                <th>Reward Name</th>
                                <th>Status</th>
                                <th>Ordered At</th>
                                <th>Updated At</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each orders}}
                                <tr>
                                    <td>{{order_id}}</td>
                                    <td>{{user_id}}</td>
                                    <td>{{quantity}}</td>
                                    <td>R#{{reward_id}} {{reward_name}}</td>
                                    <td>{{status}}</td>
                                    <td>{{prettyTime ordered_at}}</td>
                                    <td>{{prettyTime updated_at}}</td>
                                    <td><a href="/admin/orders/edit/{{order_id}}">Edit</a></td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                {{else}}
                    <p>No orders found!</p>
                {{/if}}
                <p>Got questions? Please email <a href="mailto:hi@techroulette.xyz">hi@techroulette.xyz</a> or message us on Discord.</p>
            </div>
        </section>
    {{/with}}
</div>
