{{#extend "title"}}
    Submissions
{{/extend}}
<section class="section header">
    <div class="container">
        <h1 class="title">Submissions</h1>

        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li class="is-active"><a>Submissions</a></li>
                <li><a href="/admin/submissions/">Projects</a></li>
                <li><a href="/admin/submissions/{{project_id}}">P{{project_id}}</a></li>
                <li class="is-active"><a href="/admin/submissions/{{project_id}}/{{module_id}}" aria-current="page">M{{module_id}}</a></li>
            </ul>
        </nav>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="sorts">
            <p>Sort Created At:
                <a href="?by=created_at&order=ASC&filter={{filter}}">ASC</a> /
                <a href="?by=created_at&order=DESC&filter={{filter}}">DESC</a>
            </p>
            <p>Filter:
                <a href="?filter=pending&by={{orderBy}}&order={{order}}">Pending</a> /
                <a href="?filter=rejected&by={{orderBy}}&order={{order}}">Rejected</a> /
                <a href="?filter=accepted&by={{orderBy}}&order={{order}}">Accepted</a>
            </p>
        </div>
        <hr />
        {{#if submissions}}
            <table class='table is-fullwidth is-hoverable is-striped'>
                <thead>
                    <tr>
                        <th><abbr title="submission_id">SID</abbr></th>
                        <th><abbr title="user_id">UID</abbr></th>
                        <th><abbr title="project_id">PID</abbr></th>
                        <th><abbr title="module_id">MID</abbr></th>
                        <th><abbr title="created_at">Created At</abbr></th>
                        <th><abbr title="state">State</abbr></th>
                        <th><abbr title="url">URL</abbr></th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each submissions}}
                        <tr>
                            <th>S{{submission_id}}</th>
                            <th>U{{user_id}}</th>
                            <th>P{{project_id}}</th>
                            <th>M{{module_id}}</th>
                            <th>{{prettyTime created_at}}</th>
                            <td><span class="tag state {{state}}">{{state}}</span></td>
                            <td>{{{getUrl content}}}</td>
                            <td>
                                {{#eq ../filter "pending"}}
                                    <a href="/admin/submissions/edit/{{../submission_id}}">
                                        Grade
                                    </a>
                                {{else}}
                                    <a href="/admin/submissions/update/{{../submission_id}}">
                                        Update
                                    </a>
                                {{/eq}}
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        {{else}}
            <p>No <strong>{{filter}}</strong> submissions found!</p>
        {{/if}}
        {{#notEq prevPage -1}}
            <a class="button" href="/admin/submissions/{{../prevPage}}?filter={{filter}}&by={{orderBy}}&order={{order}}">Previous</a>
        {{/notEq}}
        {{#notEq nextPage -1}}
            <a class="button" href="/admin/submissions/{{../nextPage}}?filter={{filter}}&by={{orderBy}}&order={{order}}">Next</a>
        {{/notEq}}
    </div>
</section>
