{{#extend "title"}}
    Submissions
{{/extend}}

<div class="page__admin__submissions__projects">
    <section class="section header">
        <div class="container">
            <h1 class="title">Submissions — Projects</h1>

            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li class="is-active"><a>Submissions</a></li>
                    <li><a href="/admin/submissions/" aria-current="page">Projects</a></li>
                </ul>
            </nav>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns is-multiline">
                {{#each projects}}
                    <div class="column is-half">
                        <a class="nostyle" href="/admin/submissions/{{project_id}}">
                            <div class='card module is-flex is-flex-direction-column is-flex-grow-1'>
                                <header class="card-header">
                                    <p class="card-header-title">
                                        <span>P{{project_id}}</span>
                                    </p>
                                </header>

                                <div class="card-content is-flex-grow-1">
                                    <h2>{{title}}</h2>
                                    <h5>{{type}}</h5>
                                    <p>{{description}}</p>
                                </div>

                                <div class="card-footer">
                                    <span class="card-footer-item button {{numSubmissionsAsColorWeight num_submissions 50}}">
                                        <p>{{num_submissions}} pending</p>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                {{/each}}
            </div>
        </div>
    </section>
</div>
