{{#extend 'title'}}
  Grade Submission #{{submission.submission_id}}
{{/extend}}
{{#extend 'header-inject'}}
  <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
{{/extend}}
<section class='section header'>
  <div class='container'>
    <h1 class='title'>
      Grade Submission #{{submission.submission_id}}
    </h1>

    <nav class='breadcrumb' aria-label='breadcrumbs'>
      <ul>
        <li><a href='/admin/submissions'>Submissions</a></li>
        <li class='is-active'><a href='#' aria-current='page'>Submission #{{submission.submission_id}}</a></li>
      </ul>
    </nav>
  </div>
</section>
<section class='section details'>
  <div class='container'>
    <div class="content">
      <h2 class="title">{{submission.project_title}}</h2>
      <h5 class="subtitle">{{submission.module_title}}</h5>
    </div>

    <textarea name='content' id='content-editor' class='textarea' type='text'>{{submission.content}}</textarea>

    <form method='post'>
      <div class='field' id='comments'>
        <label class='label'>Comments (Please fill out for rejections, optional for acceptance)</label>
        <textarea name='comments' id='comments-editor' class='textarea' type='text'></textarea>
      </div>
      <div class='field'>
        <label class='label'>Grading Decision (was <code>{{submission.state}}</code>)</label>
        <div class='select is-fullwidth'>
          <select name='state'>
            {{#select submission.state}}
            <option value="accepted">Accept Submission</option>
            <option value="rejected">Reject Submission</option>
            {{/select}}
          </select>
        </div>
      </div>
      <button class='button is-primary mt-1' type='submit'>
        {{#if update}}Update{{else}}Grade{{/if}} Submission
      </button>
    </form>
  </div>
</section>
{{! prettier-ignore }}
{{#extend 'scripts'}}
  <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
  <script nonce='{{@root/nonce}}'>
    const comments = document.querySelector('#comments')

    const contentEditor = new EasyMDE({
      element: document.getElementById("content-editor")
    })

    const commentsEditor = new EasyMDE({
      element: document.getElementById("comments-editor"),
      spellChecker: true, forceSync: true
    })

    contentEditor.togglePreview()
  </script>
{{/extend}}
