{{#extend "title"}}
    Grade Submission #{{submission.submission_id}}
{{/extend}}

<section class="section header">
    <div class="container">
        <h1 class="title">
            Grade Submission #{{submission.submission_id}}
        </h1>

        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="/admin/submissions">Submissions</a></li>
                <li class="is-active"><a href="#" aria-current="page">Submission #{{submission.submission_id}}</a></li>
            </ul>
        </nav>
    </div>
</section>

<section class="section details">
    <div class="container">
        <form method="post" class="column">
            <div class="columns mb-0">
                <div class="column">
                    <div class="field">
                        <label class="label">Submission Title</label>
                        <p class="control">
                            <input name="title" class="input" type="text" placeholder="Shipwreck" value="{{submission.title}}" required />
                        </p>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label">Submission Type</label>
                        <p class="control">
                            <input name="type" class="input" type="text" placeholder="Data Science" value="{{submission.type}}" required />
                        </p>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label class="label">Description</label>
                        <p class="control">
                            <textarea
                                name="description"
                                class="textarea"
                                type="text"
                                placeholder="A brief description / summary of what the submission entails."
                                required
                            >{{submission.description}}</textarea>
                        </p>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label class="label">Thumbnail URL</label>
                        <p class="control">
                            <input name="thumbnail_url" class="input" type="text" value="{{#if submission.thumbnail_url}}{{submission.thumbnail_url}}{{else}}https://cdn.techroulette.xyz/submissions/{{/if}}" required />
                        </p>
                        <p class="help">
                            Upload to <a href="https://github.com/executebig/tr-cdn" target="_blank">https://github.com/executebig/tr-cdn</a>
                        </p>
                    </div>
                </div>
            </div>

            <button type="submit" class="button is-primary">{{#if edit}}Update Submission{{else}}Create Submission{{/if}}</button>
        </form>
    </div>
</section>
