{{#extend 'title'}}
  My Account
{{/extend}}
{{#with user}}
  <div class='page__account_view'>
    <section class='hero is-primary'>
      <div class='hero-body'>
        <div class='container'>
          <div class='columns is-vcentered'>
            <div class='column is-narrow'>
              <figure class='image is-128x128'>
                <img src='https://gravatar.com/avatar/{{hashEmail email}}?d=retro&s=128' />
              </figure>
            </div>
            <div class='column'>
              <h1 class='title is-3'>{{first_name}} {{last_name}}</h1>
              <h6 class='subtitle is-6 mb-4'>@{{display_name}}
                •
                {{email}}
                •
                {{#if international}}
                  Limited International Shipping
                {{else}}
                  {{#if no_shipping}}Not{{/if}}
                    Eligible for Shipping
                {{/if}}
              </h6>
              <a href='/account/edit' class='button'>
                <span>
                  Edit Account
                </span>
                <span class='icon is-small'>
                  <ion-icon name='arrow-forward-outline'></ion-icon>
                </span>
              </a>
              {{#if discord_id}}
                <a href='https://discord.com/channels/856266812605988915/' class='button ml-2'>
                  <span class='icon is-small'>
                    <ion-icon name='logo-discord'></ion-icon>
                  </span>
                  <span>
                    Discord Server
                  </span>
                </a>
              {{else}}
                <a href='/account/discord' class='button ml-2'>
                  <span class='icon is-small'>
                    <ion-icon name='logo-discord'></ion-icon>
                  </span>
                  <span>
                    Link Discord
                  </span>
                  <span class='icon is-small'>
                    <ion-icon name='arrow-forward-outline'></ion-icon>
                  </span>
                </a>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class='section pb-2 badges'>
      <div class='container'>
        <a href='/account/redeem' class='button is-pulled-right'>
          <span>
            Redeem Badge
          </span>
          <span class='icon is-small'>
            <ion-icon name='arrow-forward-outline'></ion-icon>
          </span>
        </a>
        <h1 class='title has-text-primary'>
          Badges Collected
        </h1>
        <div class='columns is-multiline is-mobile'>
          {{#each @root/badges}}
            <div class='column is-narrow'>
              <figure class='image is-64x64' aria-label='{{name}}: {{description}}' data-balloon-pos='down-left' data-balloon-length='large'>
                <img class='badge large' src='{{icon}}' />
              </figure>
            </div>
          {{/each}}
        </div>
        {{#unless @root/badges}}
          <p class='mb-4'><strong>You have not collected a badge yet.</strong></p>
        {{/unless}}
        <p>
          <strong>Psst...</strong> there's a lot of secret badges hidden around Tech Roulette that you can collect in a variety of
          ways. Keep an eye out for the codes!
        </p>
      </div>
    </section>
    <section class='section projects'>
      <div class='container'>
        <h1 class='title has-text-primary'>
          Past Projects
        </h1>

        <div class='columns is-multiline'>
          {{#each @root/prevProjects}}
            <div class='column is-one-third'>
              <a
                href="/submissions/{{project_id}}"
                class="project-mini card is-clickable"
                tabindex='0'
              >
                <h2>{{title}}</h2>
                <p>{{type}}</p>

                <img src={{thumbnail_url}} alt='' class='project__bg' />
                <div class='project__overlay--1'></div>
              </a>
            </div>
          {{/each}}
        </div>

        {{#unless @root/prevProjects}}
          <p class='mb-4'><strong>You have not completed a project yet.</strong></p>
        {{/unless}}

        <p>
          Your previously submitted/expired projects will appear here. Note that you can't resubmit modules after
          the deadline, but you'll still be able to see your previous submissions.
        </p>
      </div>
    </section>
  </div>
{{/with}}
