<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item tr-branding" {{#if user}}href="/dash" {{else}}href="/" {{/if}}>
                <div class="tr-branding">
                    <ion-icon name="dice-outline" size="large"></ion-icon>
                    <span>Tech Roulette</span>
                </div>
            </a>
            <a class="navbar-item live-banner" href="/stage">
                {{#if liveEvent}}
                    <span class="blinker">●</span> Now Live: {{liveEvent}}
                {{/if}}
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                </span>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                <!-- navbar items -->
            </div>
            <div class="navbar-end">
                {{#unless hide_auth}}
                    {{#if user }}
                        {{#notEq user.state "onboarding"}}
                            <div class="navbar-item has-dropdown is-hoverable">
                                {{!-- <a class="navbar-link" href="/account"> --}}
                                <a class="navbar-link" href="/account">
                                    @{{../user.display_name}}
                                </a>
                                <div class="navbar-dropdown">
                                    <a class="navbar-item" href="/account/invite">
                                        Invite Friends
                                    </a>
                                    <a class="navbar-item" href="/account/redeem">
                                        Redeem Code
                                    </a>
                                    {{#if ../user.admin}}
                                        <a class="navbar-item admin" href="/admin">
                                            Admin Panel
                                        </a>
                                    {{/if}}
                                    <a class="navbar-item" href="/auth/logout">
                                        Log Out
                                    </a>
                                </div>
                            </div>
                    {{else}}
                        <a class="navbar-item" href="/auth/logout">
                            Log Out
                        </a>
                        {{/notEq}}
                    {{else}}
                        <a class="button" href="/login">
                            Log In
                        </a>
                    {{/if}}
                {{/unless}}
            </div>
        </div>
    </div>
</nav>
<script nonce="{{@root/nonce}}">
    const burger = document.querySelector('.navbar-burger')
    const menu = document.querySelector('.navbar-menu')

    burger.addEventListener('click', () => {
        burger.classList.toggle('is-active')
        menu.classList.toggle('is-active')
    })
</script>
