<div
  class='column is-clickable is-one-third project'
  tabindex='0'
  project-id='{{project_id}}'
  project-title='{{title}}'
>
  <h2>{{title}}</h2>
  <p>{{description}}</p>

  <span>
    <p>{{type}}</p>
    <p>{{pts_total}} 💎</p>
  </span>

  <img src={{thumbnail_url}} alt='' class='project__bg' />
  <div class='project__overlay--1'></div>
</div>