<div class='column is-one-third'>
  <div
    class="project card is-clickable"
    project-id='{{project_id}}'
    project-title='{{title}}'
    tabindex='0'
  >
    <h2>{{title}}</h2>
    <p>{{description}}</p>

    <span>
      <p>{{type}}</p>
      <p>{{pts_total}} {{>chip}}</p>
    </span>

    <img src={{thumbnail_url}} alt='' class='project__bg' />
    <div class='project__overlay--1'></div>
  </div>
</div>
