{{#extend "title"}}
    Orders
{{/extend}}
<div class="page__chill">
    <section class="section header pb-1">
        <div class="container">
            <h1 class="title">Past Roulette Exchange Orders</h1>
            <div class="notification is-primary is-light">
                <p style="font-size: 1rem; line-height: 1.5">
                    <strong>Fulfillment Schedule:</strong> non-physical rewards are fulfilled every week via email. 
                    Physical rewards are fulfilled at the end of the program, so you will receive one and only one
                    package. Hardware rewards are fulfilled within 2 weeks of you filling out the intent form. For 
                    most shipments, we will not provide a tracking number.
                </p>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            {{#if orders}}
                <table class='table is-fullwidth is-hoverable is-striped'>
                    <thead>
                        <tr>
                            <th>Order #</th>
                            <th>Ordered At</th>
                            <th>Reward Name</th>
                            <th>Status</th>
                            <th>Updated At</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each orders}}
                            <tr>
                                <td>{{order_id}}</td>
                                <td>{{prettyTime ordered_at}}</td>
                                <td>{{reward_name}}</td>
                                <td>{{status}}</td>
                                <td>{{prettyTime updated_at}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            {{else}}
                <p><strong>No orders found!</strong></p>
            {{/if}}
            <hr />
            <p>Got questions? Please email <a href="mailto:hi@techroulette.xyz">hi@techroulette.xyz</a> or message us on Discord.</p>
        </div>
    </section>
</div>
