{{#extend 'title'}}
  {{{sanitize @root/project.title}}}
{{/extend}}
{{#*inline "module"}}
  <div class='card module is-flex is-flex-direction-column is-flex-grow-1 {{#unless required}}optional{{/unless}}'>
    <a class="nostyle" href="/modules/{{module_id}}">
      <header class="card-header">
        <p class="card-header-title">
          <span>P{{@root/project.project_id}}M{{module_id}}{{#unless required}}
            <span class='tag is-primary is-light ml-1'>Optional</span>{{/unless}}</span>
        </p>
        <span class="card-header-chip {{getSubmissionState @root/submissions module_id}}">
          +{{points}}&nbsp;{{>chip}}
        </span>
      </header>
    </a>
    <div class="card-content is-flex-grow-1">
      <h2>{{title}}</h2>
      <p>{{description}}</p>
    </div>
    <div class="card-footer">
      {{#switch (getSubmissionState @root/submissions module_id)}}
        {{#case ''}}
          <a class="card-footer-item button is-primary" href="/modules/{{../module_id}}">
            <ion-icon name="footsteps"></ion-icon><span>Start Now</span>
          </a>
        {{/case}}
        {{#case 'pending'}}
          <a class="card-footer-item button is-warning is-light" href="/modules/{{../module_id}}">
            <ion-icon name="time-outline"></ion-icon><span>Still Grading</span>
          </a>
        {{/case}}
        {{#case 'accepted'}}
          <a class="card-footer-item button" href="/modules/{{../module_id}}">
            <ion-icon name="checkmark-circle"></ion-icon><span>Submission Accepted!</span>
          </a>
        {{/case}}
        {{#case 'rejected'}}
          <a class="card-footer-item button is-danger is-light" href="/modules/{{../module_id}}">
            <ion-icon name="alert-circle"></ion-icon><span>Submission Rejected</span>
          </a>
        {{/case}}
      {{/switch}}
    </div>
  </div>
{{/inline}}
<div class='page__modules__list'>
  <section class='hero {{#eq @root/user.state ' completed'}}is-success{{else}}is-primary{{/eq}}'>
    <div class="hero-body">
      <div class='container'>
        <div class="columns">
          <div class="column">
            <h1 class='title is-1'>{{project.title}}</h1>
            <div class='block'>
              <span class="tag is-medium">
                <strong>{{project.type}}</strong>
              </span>
              <span class="tag is-medium ml-2">
                <strong>{{>chip}} {{project.pts_total}} Available</strong>
              </span>
              {{#if project.hardware}}
                <span class="tag is-medium ml-2"><strong>🛠️ Hardware</strong></span>
              {{/if}}
            </div>
            <div class="block mb-3">
              <strong>
                {{project.description}}
              </strong>
            </div>
            <div class="block">
              <strong>
                Got a question about this project? Please include the project ID: <code>P{{project.project_id}}</code>.
              </strong>
            </div>
            <div class="block">
              <a href="/submissions/{{project.project_id}}" class="button">
                <span>Previous Submissions</span>
                <span class="icon">
                  <ion-icon name="arrow-forward-outline"></ion-icon>
                </span>
              </a>
            </div>
          </div>
          <div class="column is-4 is-hidden-touch">
            <img src="{{project.thumbnail_url}}" alt="" class="card hero-img">
          </div>
        </div>
      </div>
    </div>
  </section>
  {{#eq @root/user.state 'completed'}}
    <section class="section pb-0">
      <div class="container">
        <div class="card is-success">
          <header class="card-header">
            <p class="card-header-title">🎉 Congratulations! You've completed Week {{@root/user.current_week}}.</p>
          </header>
          <div class="card-content content is-flex-desktop">
            <div>
              <p>
                <strong>You've successfully submitted all the required modules for your weekly project!</strong>
              </p>
              <p>
                Once we grade &
                accept your submissions, we'll award you with another <strong>+{{@root/config.pointsPerProject}} {{>chip}}</strong> for completing your project.
                Be sure to look at the <strong>optional modules</strong> for <strong>more chips</strong> & opportunities to <strong>learn new things!</strong>
              </p>
              {{#if @root/newBadges}}
                <p>
                  <span><strong>Psst...</strong> check out your newly-earned badges!
                </p>
              {{/if}}
            </div>
            {{#if @root/newBadges}}
              <div class="badges is-flex-shrink-0 is-flex is-align-items-center mt-4">
                {{#each @root/newBadges}}
                  <figure class='image is-64x64 my-0 ml-0 mr-3' aria-label='{{name}}: {{description}}' data-balloon-pos='down-left' data-balloon-length='large' style="display: inline-block;">
                    <img class='badge large' src='{{icon}}' />
                  </figure>
                {{/each}}
              </div>
            {{/if}}
          </div>
        </div>
      </div>
    </section>
  {{/eq}}
  {{> survey}}
  <section class='section pb-0'>
    <div class="container">
      <div class='modules modules--required columns is-multiline'>
        {{#each modules}}
          <div class="column is-one-third-desktop is-half is-flex is-flex-direction-column">
            {{>module}}
          </div>
        {{/each}}
      </div>
    </div>
  </section>
</div>
{{#if confetti}}
  {{#extend 'scripts'}}
    <script src="https://unpkg.com/canvas-confetti@1.4.0/dist/confetti.browser.js"></script>
    <script nonce='{{@root/nonce}}'>
      let times = 5

      const frame = () => {
        confetti({
          angle: 60,
          spread: 55,
          origin: {x: 0},
        })

        confetti({
          angle: 120,
          spread: 55,
          origin: {x: 1},
        })

        times--
        if (times === 0)
          clearInterval(id)
      }

      const id = setInterval(frame, 1000)

      frame()
    </script>
  {{/extend}}
{{/if}}
