{{#extend 'title'}}
  {{{sanitize @root/module.title}}}
{{/extend}}
{{#extend 'header-inject'}}
  <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
{{/extend}}
{{#*inline "submissionStatus"}}
  {{#switch (getSubmissionState @root/submissions module.module_id)}}
    {{#case 'pending'}}
      <strong class="has-text-warning">
        <span class="blinker active">●</span> Your submission is currently being graded — check back soon for results!
      </strong>
    {{/case}}
    {{#case 'rejected'}}
      <div class="columns is-vcentered">
        <div class="column is-narrow">
          <button class='button is-danger is-pulled-left modal-open' type='submit'>
            <strong>Resubmit Module</strong>
            <span class='icon'>
              <ion-icon name='arrow-forward-outline'></ion-icon>
            </span>
          </button>
        </div>
        <div class="column pl-0">
          <strong class="has-text-danger is-vcentered">
            <span class="blinker">●</span> Your previous submission was rejected.
          </strong>
        </div>
      </div>
    {{/case}}
    {{#case 'accepted'}}
      <strong class="has-text-success">
        <span class="blinker">●</span> Your submission was accepted! Chips have been granted to your account.
      </strong>
    {{/case}}
    {{#case ''}}
      <button class='button is-primary is-pulled-left modal-open' type='submit'>
        <strong>Submit Module</strong>
        <span class='icon'>
          <ion-icon name='arrow-forward-outline'></ion-icon>
        </span>
      </button>
    {{/case}}
  {{/switch}}
{{/inline}}
<div class='page__modules__single'>
  <section class='section'>
    <div class='container'>
      <div class="level">
        <div class="level-left">
          <h1 class='title is-1 has-text-primary'>Week {{user.current_week}} — {{project.title}}</h1>
        </div>
        <div class="level-right is-hidden-mobile">
          <a href="/modules" class="button">
            <ion-icon name="arrow-back-outline"></ion-icon>
            <span>Back to Modules</span>
          </a>
        </div>
      </div>
      <nav class='breadcrumb' aria-label='breadcrumbs'>
        <strong>
          <ul>
            <li><a href='/modules'>Modules</a></li>
            <li class='is-active'><a href='#' aria-current='page'>{{module.title}}</a></li>
          </ul>
        </strong>
      </nav>
      <div class='columns'>
        <div class='column is-one-third'>
          <img src='{{project.thumbnail_url}}' alt='' class='card hero-image' />
        </div>
        <div class='column'>
          <div class='card'>
            <div class='card-header'>
              <h1 class='card-header-title icon-field'>
                <ion-icon name='information-circle-outline'></ion-icon>
                <span>
                  Module Overview
                </span>
              </h1>
              <span class="card-header-chip {{getSubmissionState @root/submissions module.module_id}}">
                +{{module.points}}&nbsp;{{>chip}}
              </span>
            </div>
            <div class='card-content has-text-weight-bold'>
              <h1 class='title has-text-primary mb-2'>{{module.title}}</h1>
              <div class='mb-5'>
                {{#unless module.required}}
                  <span class='tag is-primary is-light'>Optional</span>
                {{/unless}}
              </div>
              <p>{{module.description}}</p>
              <p class="mt-2">Got a question about this project? Please include the module ID in your question: <code>P{{project.project_id}}M{{module.module_id}}</code>.</p>
            </div>
            <div class='card-footer'>
              <div class='card-content py-4'>
                {{> submissionStatus}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class='section'>
    <div class='container'>
      <div class="columns is-desktop">
        {{{MdToTableOfContents module.content}}}
        <div class="column content" id="module_content">
          {{{module.rendered_content}}}
          <hr />
          {{> submissionStatus}}
        </div>
      </div>
    </div>
  </section>
  <form class='modal' action='' method='POST'>
    <div class='modal-background'></div>
    <div class='modal-card'>
      <header class='modal-card-head'>
        <h1 class='modal-card-title'>Module Submission</h1>
      </header>
      <section class='modal-card-body'>
        <p class='modal-message'>
          You're about to create a submission for
          <strong class='has-text-primary'>{{module.title}}.</strong>
          Select which type of content you would like to submit:
        </p>
        <div class='control mb-5'>
          <label class='radio'>
            <input type='radio' name='content_type' value='link' required />
            I'm submitting
            <strong>a link</strong>
            (repl.it / codesandbox / etc.)
          </label>
          <br />
          <label class='radio mt-2'>
            <input type='radio' name='content_type' value='content' required />
            I'm submitting
            <strong>written content</strong>
            (writeup / blog post / etc.)
          </label>
        </div>
        <div class='control' id='submission-link'>
          <input name='content' class='input' type='url' placeholder='https://your.submission.here/' required />
        </div>
        <div class="control" id='submission-content'>
          <textarea name='content' class='textarea' type='text' required></textarea>
        </div>
      </section>
      <footer class='modal-card-foot'>
        <div style='width: 100%;'>
          <button class='button is-danger modal-cancel' type='button'>
            <span>Close</span>
          </button>
          <button class='button is-primary is-pulled-right' type='submit'>
            <span>Send Submission</span>
            <span class='icon'>
              <ion-icon name='arrow-forward-outline'></ion-icon>
            </span>
          </button>
        </div>
      </footer>
    </div>
    <button class='modal-close modal-cancel is-large' aria-label='close'></button>
  </form>
</div>
{{! prettier-ignore }}
{{#extend 'scripts'}}
  <script src="https://unpkg.com/prismjs/components/prism-core.min.js"></script>
  <script src="https://unpkg.com/prismjs/plugins/autoloader/prism-autoloader.min.js"></script>
  <script src="https://unpkg.com/prismjs/plugins/custom-class/prism-custom-class.min.js"></script>
  <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
  <script nonce='{{@root/nonce}}'>
    const contentContainer = document.getElementById('module_content')

    Prism.plugins.customClass.prefix('prism__')

    let copyWarningDisplayed = false

    // warn copy/paste
    contentContainer.querySelectorAll('pre').forEach(el => {
      el.addEventListener('copy', function (event) {
        if (!copyWarningDisplayed) {
          notyf.open({
            type: 'info',
            message: 'Please use less copy & pasting from the examples. This will help you understand the concept a little better!',
            duration: 0,
            dismissible: true
          })
          copyWarningDisplayed = true
        }
      })
    })

    const modal = document.querySelector(".modal")
    const submissionLink = document.querySelector('#submission-link')
    const submissionLinkInput = submissionLink.querySelector('input')
    const submissionContent = document.querySelector('#submission-content')
    const submissionContentInput = submissionContent.querySelector('textarea')

    const editor = new EasyMDE({
      element: submissionContent.querySelector('textarea'),
      spellChecker: false,
      forceSync: true,
      autosave: {
        enabled: true,
        uniqueId: `module-{{{ @root/module.module_id }}}-content`,
        delay: 1000,
      },
      autoFocus: true
    })

    submissionLink.style.display = 'none'
    submissionContent.style.display = 'none'

    document.querySelectorAll('input[type=radio]').forEach(node => {
      node.addEventListener('change', () => {
        if (node.value == 'link') {
          submissionLink.style.display = 'block'
          submissionContent.style.display = 'none'

          submissionLinkInput.disabled = false
          submissionContentInput.disabled = true
        } else {
          submissionLink.style.display = 'none'
          submissionContent.style.display = 'block'

          submissionLinkInput.disabled = true
          submissionContentInput.disabled = false

          editor.codemirror.refresh()
        }
      })
    })

    // Bind modal open buttons
    document.querySelectorAll(".modal-open").forEach((node) => {
      node.addEventListener("click", () => {
        modal.classList.add("is-active")
      })
    })

    // Close modal on background & cancel button click
    document
      .querySelectorAll(".modal-cancel, .modal-background")
      .forEach((node) => {
        node.addEventListener("click", () => {
          modal.classList.remove("is-active")
        })
      })

    // open ext links in new tab
    for (let c = contentContainer.getElementsByTagName("a"), a = 0; a < c.length; a++) {
      let b = c[a];
      b.getAttribute("href") && b.hostname !== location.hostname && (b.target = "_blank")
    }
  </script>
{{/extend}}
