<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/styles/style.css" />
    <link rel="icon" href="/static/brand/icon-blue.png" />
    <title>{{block "title"}}{{#unless titleOverride}} – Tech Roulette{{/unless}}</title>
    {{#extend "title"}}{{../title}}{{/extend}}
    {{{block "header-inject"}}}
    {{{block "header-scripts"}}}
</head>

<body>
    <div class="layout">
        {{> navbar }}
        {{{body}}}
        {{> flash}}
    </div>
    {{> footer }}
    {{> tracking }}

    {{#if user}}
    <script async defer src="/static/scripts/research.js"></script>
    {{/if}}

    <script
        async
        src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"
        integrity="sha512-eVL5Lb9al9FzgR63gDs1MxcDS2wFu3loYAgjIH0+Hg38tCS8Ag62dwKyH+wzDb+QauDpEZjXbMn11blw8cbTJQ=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer">
    </script>
    <script
        async
        type="module"
        src="https://cdnjs.cloudflare.com/ajax/libs/ionicons/5.4.0/ionicons/ionicons.esm.js"
        integrity="sha512-r2CHAr8dZzHEfHvvqEaXtGUJZ0wV/j+2ZMCUZPYg+EbUjXqwIQjhNKTO/WKrKZ7TZap0lXnqAA0H8FuDgPgywA=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer">
    </script>
    <script
        async
        nomodule=""
        src="https://cdnjs.cloudflare.com/ajax/libs/ionicons/5.4.0/ionicons/ionicons.js"
        integrity="sha512-snixkOL/q31oaiZZDbRFUpDqEhlBoShc03rlNIikUqw928HD0ycWIk8C5M5x5o5ZaYBW+NSeXuFlHC3Tx0u1Tw=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer">
    </script>
    {{{block "scripts"}}}
</body>

</html>
